@import 'variables';
@import 'reset';
@import 'typography';
@import 'objects';
@import 'layout';

article {
  //background: $white;
  //padding: 2rem 1.5rem;
  //border-radius: 0.5rem 0.5rem 0.5rem 0;
  //
  //@media only screen and (min-width: 321px)  {
  //  padding: $line-height;
  //}

}

.home {
  article {
    border-bottom: 1px solid $subduedgrey;
  }
}

.post__meta {
  text-align: center;
}

.search-excerpt {
  background-color: $yellow;
  color: $blue;
}
