textarea {
  width: 100%;
  resize: vertical;
  border: 1px solid #323E48;
  border: 1px solid $darkgrey;
}

button,
input[type=submit] {
  -webkit-appearance: none;
  background: none;
  border: none;
}

table {
  min-width: 50%;
  margin-right: auto;
  margin-left: auto;
  font-size: 0.75rem;
  margin-bottom: 2rem;
}

tr {
  border-bottom: 1px solid $subduedgrey;
  border-bottom: 1px solid #eee;
}

tr:last-of-type {
  border-bottom: none;
}

td {
  padding: 0.25rem 0.5rem;
}

@media (max-width: 600px) {
  tr:nth-of-type(2n) {
    background: $subduedgrey;
  }
}

@media (min-width: 600px) {
  table {
    font-size: 0.875rem;
  }
  td {
    padding: 0.5rem 0.5rem;
    border-right: 1px solid #eee;
  }
}

td:last-of-type {
  border-right: none;
}
