textarea {
  outline: none;
  width: 100%;
  resize: vertical;
  //border: 1px solid #323E48;
  border: 1px solid $darkgrey;

  &:focus {
    border-color: $green;
  }

}

button,
input[type='submit'] {
  -webkit-appearance: none;
  background: none;
  border: 0 none;
}

table {
  min-width: 50%;
  margin-right: auto;
  margin-left: auto;
  font-size: 0.75rem;
  margin-bottom: 2rem;
}

tr {
  //border-bottom: 1px solid $subduedgrey;
  border-bottom: 1px solid $lightgrey;

  &:last-of-type {
    border-bottom: 0 none;
  }

  &:nth-of-type(2n) {
    @media (max-width: 600px) {
      background: $subduedgrey;
    }
  }

}

td {
  padding: 0.25rem 0.5rem;

  &:last-of-type {
    border-right: 0 none;
  }
}

@media (min-width: 600px) {
  table {
    font-size: #{0.777 * $base-font-size};
  }
  td {
    padding: 0.5rem;
    border-right: 1px solid #eee;
  }
}

input[type='search'] {
  -webkit-appearance: none;
  outline: none;
  border: 1px solid $white;
  padding: 0.25rem;
  &:focus {
    border: 1px solid $green;
  }
}

input[type='submit'] {
  background: $blue;
  margin: 0;
}

.btn,
button,
.wp-polls .Buttons {
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  &:hover {
    background-color: $green;
  }
}

::-moz-selection {
  background: $red;
  color: $white;
  text-shadow: none;
}

::selection {
  background: $red;
  color: $white;
  text-shadow: none;
}

.alignright {
  float: right;
  max-width: 50%;
  margin-left: 2rem;
}

.alignleft {
  float: left;
  max-width: 50%;
  margin-right: 2rem;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
