$base-font-size: 1.125rem;
$small-font-size: #{0.75 * $base-font-size};
$line-height-unitless: 1.55;
$line-height: #{$line-height-unitless * $base-font-size};
$line-height-2x: #{2 * $line-height};
$bodytype: 'Source Sans Pro', Helvetica, -apple-system, sans-serif;
$headingtype: helvetica, sans-serif;
$mono: 'Source Code Pro', monospace;

body {
  font-family: $bodytype;
  font-size: $base-font-size;
  font-weight: 300;
  color: $darkgrey;
  line-height: $line-height-unitless;

  @media (max-width: 500px)  {
    font-size: 1rem;
  }

}

h1,
h2,
h3,
h4 {
  color: $black;
  font-family: $headingtype;
}

h1 {
  font-weight: bold;
  margin-bottom: $line-height;
  font-size: #{1.77 * $base-font-size};
  text-align: center;

  @media only screen and (min-width: 600px)  {
    font-size: #{2.44 * $base-font-size};
  }

}

h2 {
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: #{1.33 * $base-font-size};

  @media only screen and (min-width: 600px)  {
    font-size: #{1.77 * $base-font-size};
  }
}

p {
  //margin-bottom: 36px;
  margin-bottom: $line-height;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $green;
    text-decoration: underline;
  }
}

blockquote {
  //border-left: 2px solid #c00;
  font-style: italic;
  padding-left: $line-height;

  &:before {
    //color: #eee;
    color: $lightgrey;
    position: absolute;
    content: '“';
    display: inline-block;
    font-size: 4rem;
    margin-left: -3.5rem;
  }

}

ul,
ol {
  margin-bottom: $line-height;
  margin-left: 1.25rem;
}

ul {
  list-style: circle;
  ul {
    list-style: disc;
  }
}

header {
  ul {
    list-style: none;
    margin-left: 0;
  }
}

ins {
  background-color: $yellow;
  color: $black;
  text-decoration: none;
}

mark {
  background: $yellow;
  color: $black;
  font-style: italic;
  font-weight: bold;
}

em {
  font-weight: inherit;
}

strong {
  font-weight: bold;
}

sup {
  font-weight: inherit;
}

figcaption,
.wp-caption-text {
  //font-size: 0.75rem;
  font-size: $small-font-size;
  text-align: center;
  font-style: italic;
}

.caps {
  font-feature-settings: 'c2sc' 1, 'smcp' 1;
}

.site-footer {
  font-family: $mono;
}

.page-id-44 article {
  font-family: $mono;
  font-size: $base-font-size;
}

.entry-title {
  //text-align: center;
}

.post-edit-link {
  text-align: center;
  display: block;
  &:before {
    content: '\f464';
    font-family: dashicons;
    padding-right: 2px;
  }
}

.parent-link {
  //text-align: center;
  display: block;
}

.subpage-nav {
  display: block;
  overflow: hidden;
  list-style: none;
  text-align: center;
  margin-left: 0;
}
