// Primary Colours

$red:           #d31e48;

$black:         #333e48;
$darkgrey:      #455561;
$grey:          #778590;
$lightgrey:     #C1C9CB;
$subduedgrey:   #f1f1f1;
$white:         #fff;

// Secondary Colours

$lightblue:     #bbe5fb;
$blue:          #70cef5;
$darkblue:      #52b9f1;
$green:         #8dc63f;
$darkgreen:     #6cad26;
$tan:           #e7e5b6;
$brown:         #b5b293;
$orange:        #e6670a;
$yellow:        #fdb812;
$darkyellow:    #fd9d09;
