//body {
//  background: linear-gradient(55deg, #c4df9b 0%, #8dc63f 100%) no-repeat fixed;
//}

body {
  //background-color: #e6eaed;
  //background-image: url('assets/img/waves.svg');
  //background-color: $subduedgrey;
  background-image: linear-gradient(rgba($red, 0.075), rgba($white, 0.075));
}
.wp-polls {
  display: block;
  text-align: center;
}

.wp-polls-form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $subduedgrey;
  padding: 1rem $line-height 1rem 1rem;
  float: none;
}

.wp-polls .Buttons {
  border: 0 none !important;
  background: $grey !important;
  color: $white;
  //text-transform: lowercase;
  //font-variant: small-caps;
  font-size: inherit;
  border-radius: 0.25rem;
  transition: 0.25s;
  &:hover {
    background-color: $green !important;
  }
}

.alert {
  background-color: $blue;
  color: $white;
  padding-top: #{0.5 * $line-height};
  padding-bottom: #{0.5 * $line-height};
  padding-right: #{0.5 * $line-height};
  padding-left: #{0.5 * $line-height};
  margin-bottom: $line-height;
  display: block;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;

  font-size: $small-font-size;

  line-height: #{0.875 * $line-height-unitless};

  &--positive {
    //background: $white;
    background-color: $green;
  }

  &--caution {
    background-color: $yellow;
  }

  &--negative {
    background-color: $red;
  }

}

.alert a,
a.alert {
  color: $white;
  &:hover {
    color: $white;
  }
}

.dev-note {
  font-family: $mono, 'Open Sans';
}
