.menu-header-nav-container {
  > ul {
    li {
      > ul {
        display: none;
        position: absolute;
        clear: both;
        text-align: left;
        margin-left: -4.25rem;
        background-color: rgba($white, 0.925);
        border: 1px solid $subduedgrey;
        padding: 0.25rem 0.5rem;
        z-index: 10;

        li {
          border-bottom: 1px solid $subduedgrey;
          &:last-of-type {
            border-bottom: 0 none;
          }
        }

      }
    }

    > ul {
      li {
        display: block;
        clear: both;
        float: none;

        &:before {
          content: none;
          margin-right: 0;
        }

      }
    }

    &:hover > ul {
      display: inline-block;
    }
  }
}

.index-navigation {
  margin-top: $line-height;
  padding-left: $line-height;
  padding-right: $line-height;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
